<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGpt-Clone</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="main">
        <div class="chat-window">
            <div class="chat-header">
                <h1>ChatGpt-Clone</h1>
            </div>
            <div class="chat-body">
                <div class="chat-message" id="chat-box">
                    <!-- <div class="bot-message">
                        <p>Hello, I am ChatGpt-Clone. How can I help you?</p>
                    </div>
                    <div class="user-message">
                        <p>Hi, I am a user. I am doing good. How are you?</p>
                    </div> -->
                </div>
            </div>
            <div  class="chat-footer">
                <input type="text" id="user-input" placeholder="Type a message...">
                <button id="send-button" >Send</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='styles/main.js') }}"></script>
</body>
</html>